 html {
font-size: 100%;
box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    // @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Prompt:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
    
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    // font-size: $font-med;
    font-weight: 300;
    line-height: 1.3;
    overflow-x: hidden;
    // color: $grayishBlue;

    // @include breakpoint-up(large){
    //     font-size: $font-med;
    // }

    &.noscroll {
        overflow: hidden;
    }

    ::selection {
        background: $blue;
      }

}

h1, h2, h3 {
    margin-top: 0px; 
}

a, a:visited, a:hover {
     text-decoration: none;
}

// Spacing
.container {
    max-width: 150rem;
    margin: 0 auto;

    &--pall {
        padding-top: 2.25rem;
        padding-right: 1rem;
        padding-bottom: 2.25rem;
        padding-left: 1rem;
        // background-color:$gray3;
    }

    &--py {
        padding-top: 2.25rem;
        padding-bottom: 2.25rem;
    }
    &--px {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }

    &--pt {
        padding-top: 2.25rem;
    }
    &--pr {
        padding-right: 1.5rem;
    }
    &--pb {
        padding-bottom: 2.25rem;
    }
    &--pl {
        padding-left: 1.5rem;
    }
}

// Flexbox
.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}





// Buttons
//button, .button {
  //  display: inline-block;
  //   padding: 0.875rem 2.1875rem;
  //   background: linear-gradient(to  right, $limeGreen, $brightCyan);
  //   border: 0;   
  //   border-radius: 50px;
  //   cursor: pointer; 
  //   color: $white;
  //   font-weight: 400;
  //   font-size: $font-sm;
  //   transition: opacity 300ms ease-in-out;

  //      &:hover {
  //          opacity: 0.75;
  //      }
// }

// Visibility
// .hide-for-mobile {
//  @include breakpoint-down(medium){
//      display: none;
//  }
// }

// .hide-for-desktop {
//     @include breakpoint-up(large){
//         display: none;
//     }
// }