.scroll-up {
    transform: none;
}
.scroll-down {
    transform: translate3d(0, -100%, 0);
}



.header {

    // Hamburger Open Styles
    width: 100%;
    position: relative;

    a {
        outline: 0;
     }
    
    #myNav {
        display: flex;
        flex-direction: row;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
        transition: transform .3s cubic-bezier(0.86, 0, 0.07, 1);
        background-color: $darkGray0;
        padding: 16px 0px 16px 20px;
        align-items: center;
        justify-content: space-between;


    
        @include lg {
            // padding: 20px 20px;
        }

    

        @include smmed {
            flex-direction: column;
            justify-content: center;
            padding: 20px 5px 10px 5px;

        }   
    }
 



    &__logo {

    
        img {
            margin-top: .5rem;
            margin-left: 1rem;
            width: 50px;
            height: auto;
            
        }


    }



    &__links {


        a {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: $font-sm-med; 
        position: relative;
        padding: 32px 24px 32px 24px;
        color: white;
        transition: color 150ms ease-in-out;

          
        @include smmed {
            // &:not(:last-child){
            //     margin-right: 16px;
            // } 
            padding: 10px 10px 10px 10px;
            position: center;
        }
    


          &:hover {
            transition: all 100ms ease-in-out;
            background-color: $darkGray2;



              &::before {
                opacity: 1;
              }
          }
        } 



        @include smmed {
            margin-top: 10px;


        }
    }
}










//don't need this size because smmed is max width - applies to that breakpoint and down
        // @include sm {
        //     &:not(:last-child){
        //         margin-right: 8px;
        //     } 
        //     padding-left: 16px; 
        //     padding-right: 16px; 
        //     margin-right: 8px;
        // }
        

           
            // &:is(:last-child){
            //     margin-right: px;
            // }







// &__toggle { // mobile menu toggle 

    //     > span {
    //         display: block;
    //         width: 26px;
    //         height: 2px;
    //         background-color: $white;
    //         transition: all 300ms ease-in-out;
    //         transform-origin: 3px 1px;
 
    //         &:not(:last-child){
    //             margin-bottom: 5px;
    //         }
    //     }
    // }


    // .first {
    //     width: 100%;
    //     height: 100px;
    //     background: #ccc;
    // }
    
    // .second {
    //     width: 100%;
    //     height: 100px;
    //     background: #999;
    // }


// &.open {

    //     .header__toggle {

    //         > span:first-child {
    //         transform: rotate(45deg);

    //         }

    //         > span:nth-child(2) {
    //         opacity: 0 ;  
    //         }

    //         > span:last-child {
    //         transform: rotate(-45deg);
    //         }
    //     }
    // }

    // .overlay { 
    //     opacity: 0;
    //     position: fixed;
    //     top: 0px;
    //     right: 0px;
    //     bottom: 0px;
    //     left: 0px;
    //     background-image: linear-gradient($darkBlue, transparent);
    // }



     // &__menu { // mobile menu links
    //     position: absolute;
    //     width:100%;
    //     height: 100%;
    //     left: 50%;
    //     transform: translateX(-50%);
    //     background: $white;
    //     padding: 1.625rem;
    //     z-index: 2;

    //     a {
    //         display: block;
    //         padding: 0.625rem;
    //         color: $darkBlue;
    //         text-align: left;
    
    //     }
    // }