.body {
    background-color: $darkGray0;
}



.hero {
background-color: $darkGray0;
// background-color: $white;
// min-height: 100vh;



    &__text {
        
        opacity: 1;
        color: white;
        // color: $darkGray;
        text-align: center;



         

        h1 {
            font-family: 'Poppins', sans-serif;
            line-height: 1.15;
            font-weight: 400;
            margin-top: 35vh;
            margin-bottom: .5rem;

        
            @include mddown {
                font-size: 3rem;
            }

            @include sm {
                font-size: 2.25rem;
            }
        
            @include mdup {
                font-size: 7.5rem;
            }
        }




        p {
            font-family: 'Poppins', sans-serif;
            font-weight: 200;
            line-height: 1.5;
            margin-top: 0rem;
            margin-bottom: 14rem;
            color: $blue;
            margin-left: 30rem;
            margin-right: 30rem; 
            
            

            @include mddown {
                font-size: 1rem;
            }

            @include sm {
                font-size: 1rem;
            }
        
            @include mdup {
                font-size: 2.25rem;
            }            


            #lastline{
                margin-bottom: 14rem;
            }
    

        }




       




        ul {
            font-family: 'Poppins', sans-serif;
            list-style-type: none;
            font-weight: 300;
            line-height: 1.5;
            font-size: 1.75rem;
            margin-top: 3rem;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20rem;
            // text-align: left;
            
            

            
          }
    
          

        

    
          li{
            margin-bottom: 1rem;
            

    
          }
    



          a {
            color: white;
            
            &:hover {
                text-decoration: underline 3px $blue;
                // background-color:$yellow2;
                // background-clip: content-box;
            }
            
            
          }






        #old{
            color: $gray;    
        }


        #current{
            color: $yellow5;
            font-size: 2rem;
        }

       
    }
}