.body{
    background-color: $darkGray0;
}



.hero {
background-color: $darkGray0;
// background-color: $white;
// min-height: 100vh;



    &__text {
        
        opacity: 1;
        color: white;
        // color: $darkGray;
        text-align: center;



         

        h1 {
            font-family: 'Amatic SC', cursive;
            line-height: 1.15;
            font-weight: 700;
            margin-top: 30vh;
            margin-bottom: .5rem;

        
            @include mddown {
                font-size: 3rem;
            }

            @include sm {
                font-size: 2.25rem;
            }
        
            @include mdup {
                font-size: 12rem;
            }
        }




        p {
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            line-height: 1.5;
            margin-top: .5rem;
            margin-bottom: 6rem;
            
            

            @include mddown {
                font-size: 1rem;
            }

            @include sm {
                font-size: 1rem;
            }
        
            @include mdup {
                font-size: 2.25rem;
            }            


        }



        ul {
            font-family: 'Roboto', sans-serif;
            list-style-type: none;
            font-weight: 300;
            line-height: 1.5;
            font-size: 1.75rem;
            margin-top: 3rem;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10rem;
            // text-align: left;
            
            
          }
    
    
    
          li{
            margin-bottom: 1rem;
            
          }
    



          a{
            color: white;
          }


        #current{
            color: $green;
        }



    }
}