// Breakpoints

// alternate approach to breakpoints
$screen-xsm-max: 320px;

$screen-sm-max: 414px;

$screen-smmed-max: 568px;

$screen-mddown-max: 768px;

$screen-mdup-min: 769px;

$screen-lg-min: 1024px;

$screen-lgdown-max: 1105px;

$screen-xl-min: 1280px;

$screen-xxl-min: 1440px;

$screen-xxxl-min: 1600px;



@mixin xsm {
    @media (max-width: #{$screen-xsm-max}) {
        @content;
    }
 }
 
 @mixin sm {
    @media (max-width: #{$screen-sm-max}) {
        @content;
    }
 }

 @mixin smmed {
    @media (max-width: #{$screen-smmed-max}) {
        @content;
    }
 }


 @mixin mddown {
    @media (max-width: #{$screen-mddown-max}) {
        @content;
    }
 }

 @mixin lgdown {
    @media (max-width: #{$screen-lgdown-max}) {
        @content;
    }
 }

 @mixin mdup {
    @media (min-width: #{$screen-mdup-min}) {
        @content;
    }
 }


 @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
 }
 

 @mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
 }

 @mixin xxl {
    @media (min-width: #{$screen-xxl-min}) {
        @content;
    }
 }

 @mixin xxxl {
    @media (min-width: #{$screen-xxxl-min}) {
        @content;
    }
 }

 
// Custom devices
@mixin custom-up($screen) {
    @media (min-width: $screen+'px') {
        @content;
    }
 }

 // Custom devices
@mixin custom-down($screen) {
    @media (max-width: $screen+'px') {
        @content;
    }
 }










//commenting out min-width for now to see if alt approach works without it.
// @media (min-width: 64em){  
// styles go here
// }




// commenting out previous breakpoint approach to test alt approach
// // 640px, 1024px, 1400px
// $breakpoints-up: ("medium": "40em", "large": "64em", "xlarge": "87.5em");

// // 639px, 1023px, 1399px
// $breakpoints-down: ("xsmall": "20em", "small": "39.9375em", "medium": "43.75em", "large": "87.4375em");


// @mixin breakpoint-up($size){
//      @media (min-width: map-get($breakpoints-up, $size)){
//          @content;

//      }
// }

// @mixin breakpoint-down($size){
//     @media (max-width: map-get($breakpoints-down, $size)){
//         @content;
//     }
// } 