.projects {

    h2 {
        text-align: center;
        font-weight: 500;
        font-size: 2rem;
        line-height: 1.15;
        color: $darkGray;
        // margin-top: 10rem;
        margin-bottom: 2rem;
        


        @include lg {
            font-size: 2rem;
        }

        @include sm {
            // text-align: left; 
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }
    }
}



.project {
    // text-align: center;

//    &__content {

//    }
    

    &__grid {
        // transform: translateY(-80px);
        display: grid;
        grid-template-columns: 1fr;
        gap: 2.5rem;
        margin-bottom: 6rem;


        @include mdup {
            grid-template-columns: repeat(3, 1fr);
        }

        @include xl {
            grid-template-columns: repeat(4, 1fr);
        }   


        @include custom-down(1023){
            grid-template-columns: repeat(2, 1fr);
            
        }

        @include smmed {
            grid-template-columns: repeat(1, 1fr);
        }   


        // @include mddown {
        //     grid-template-columns: repeat(1, 1fr);
        // }

        // @include custom-down(550){
        //     grid-template-columns: repeat(1, 1fr);
        // }

        // @include sm {
        //     grid-template-columns: repeat(1, 1fr);
        // }

     
    }




   &__item {
        // border: solid 2px $gray;
        // outline: solid 2px $gray;
        // outline-offset: -2px;
        // box-shadow: 0px 0px 0px 2px $gray inset;
        border-radius: 8px;
        overflow: hidden;
        background-color: $white;
        transition: all 100ms ease-in-out;
        box-shadow: 0px 0px 0px 2px $gray;
        


        &:hover{
            // transform: scale(1.005);
            box-shadow:  0px 5px 10px $gray;
            
            }


        &:hover #company{
            text-decoration: underline 2px $darkGray3;
            // background-color:$yellow2;
            // background-clip: content-box;
        }

        &:hover #title{
            text-decoration: underline 2px $darkGray3;
            // background-color: $yellow2;
            // background-clip: content-box;
        }

        &:hover #description{
            text-decoration: underline 2px $darkGray3;
            // background-color:$yellow2;

            // background-clip: content-box;
        }

        }
       

    

    &__image {
        height: 12.5rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
   
    &__text {
        padding: 1.5rem;
        color: black; 
        
    
    }

   &__company {
    font-size: .875rem;
    padding-bottom: 0rem;
    margin-bottom: .2rem;
    font-weight: 400;


   }


   &__title { 
    font-size: 1.5rem;
    padding-bottom: 0rem;
    margin-bottom: .5rem;
    font-weight: 500;
    

   }

   &__description  { 
    font-size: 1rem;  
    font-weight: 400;
   }

}