.projectpageheader {
    background-color: $darkGray;
    // min-height: 50vh;

    
    
        &__text {
            
            opacity: 1;
            color: $gray4;
            text-align: left;
            margin-left: 2rem;
            

            @include mddown {
                margin-left: 0rem;
            }
    


            h1 {

                font-size: 1.5rem;
                line-height: 1.15;
                font-weight: 100;
                margin-top: 20vh;
                margin-bottom: .2rem;

                @include mddown {
                    font-size: 1rem;
                }

            }

             
    
            h2 {
                line-height: 1.15;
                font-weight: 400;
                margin-top: .5rem;
                margin-bottom: 2rem;
                
    
            
                @include mddown {
                    font-size: 3rem;
                }
    
            
                @include mdup {
                    font-size: 5rem;
                }
            }
    
    
    
    
            p {
                font-weight: 100;
                line-height: 1.5;
                margin-top: .5rem;
                margin-bottom: 1rem;
    
            
                @include mddown {
                    font-size: 1rem;
                    margin-right: 5%;
                }


                @include mdup {
                    font-size: 1.5rem;
                    margin-right: 25%;
                }

                           
            }            



        }
    }   












    .projectpageheader2 {
        background-color: $darkGray;
        // min-height: 50vh;
    
        
        
            &__text {
                
                opacity: 1;
                color: $white;
                text-align: left;
                margin-left: 2rem;
                
    
                @include mddown {
                    margin-left: 0rem;
                }
        
    
    
                // h1 {
    
                //     font-size: 1.5rem;
                //     line-height: 1.15;
                //     font-weight: 100;
                //     margin-top: 15vh;
                //     margin-bottom: .2rem;
    
                //     @include mddown {
                //         font-size: 1rem;
                //     }
    
                // }
    
                 
        
                h1 {
                    line-height: 1.15;
                    font-weight: 400;
                    // margin-top: .5rem;
                    margin-top: 15vh;
                    margin-bottom: 2rem;
                    
        
                
                    @include mddown {
                        font-size: 3rem;
                    }
        
                
                    @include mdup {
                        font-size: 3rem;
                    }
                }
        
        
        
        
                p {
                    font-weight: 100;
                    line-height: 1.5;
                    margin-top: .5rem;
                    margin-bottom: 1rem;
        
                
                    @include mddown {
                        font-size: 1rem;
                        margin-right: 5%;
                    }
    
    
                    @include mdup {
                        font-size: 1.125rem;
                        margin-right: 25%;
                    }
    
                               
                }            
    
    
    
            }
        }   