


.projectpagebody {
    

    &__flex {

        display: flex;
        margin: 2rem;
        
        background-color: $darkGray1;
        border-radius: 2px;
        // border: 1px solid $white;
        
        
    
        @include lgdown {
            flex-wrap: wrap-reverse;
        }

        @include custom-down(550){
            grid-template-columns: repeat(1, 1fr);
        }

        @include sm {
            grid-template-columns: repeat(1, 1fr);
        }

        @include mdup {
            grid-template-columns: repeat(3, 1fr);
        }

        @include xl {
            grid-template-columns: repeat(4, 1fr);
        }        
    }


    &__flex2 {

        display: flex;
        margin-bottom: 0rem;
        flex-wrap: wrap;
        
    
    }















    #centeredsection{
    justify-content: center;
    background-color: $gray3;
    }


    #projectsubpage{
    justify-content: center;
     background-color: $gray3;
    }



   











    .scrolling-wrapper {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        // margin-left: 1rem;
        margin-right: 1rem;

      
        .horizontalrow1 {
          display: inline-block;
          margin-top: 3rem;
          margin-left: 1rem;
          

        }
      }
    

      #h-image {
        height: 30rem;
        padding-right: 2rem;

    }


      .scrolling-wrapper2 {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        margin-bottom: 5rem;

      
        .horizontalrow2 {
          display: inline-block;
          margin-top: 3rem;
          margin-left: auto;
          margin-right: auto;


        }
      }



      #h-image2 {
        height: 30rem;
        padding-right: 2rem;
    }

      


    










// for images on project pages

    &__image {
        display: block;
        margin-left: auto;
        margin-right: 5rem;
        margin-top: 5rem;
        margin-bottom: 10rem;


        @include lgdown {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0rem;
        }


    }
   





// for images on project sub pages

    &__image2 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;



        @include lgdown {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0rem;
        }




    }








    

    .narrow{
        display: none;

     }
     

     @media only screen and (max-width: 500px){           
         
        .wide{
          display: none;
        }
     
        .narrow{
          display: block;
        }

     }















    #image1 {
        height: 50rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }



//used in overview, view types, personalized marketing, external, activity, horizontal scroll and static images
    #image2 {
        width: 50rem;
        height: auto;
        margin-left: 1rem;
        

        

        @include mddown {
            width: 30rem;
            margin-right: 1rem;
        }


    }


//used in responsive images horizontal scroll
    #image3 {
        height: 40rem;
        width: auto;
        padding-left: 2rem;
        margin-bottom: 1rem;
        // justify-content: center;
        // padding-right: 2rem;
        
        

        @include lgdown {
            height: 30rem;
            margin-left: 1rem;
            margin-right: 1rem;
        }


    }



    #image4 {
        height: 60rem;
        padding-left: 2rem;
        padding-right: 2rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
        

        @include mddown {
            height: 30rem;
            margin-left: 1rem;
            margin-right: 1rem;
        }


    }




    #image5 {
        width: auto;
        height: 33rem;
        // margin-right: 1rem;
        margin-left: 1rem;
        display: block;
        margin-left: auto;
        margin-right: auto;

        

        @include mddown {
            width: 30rem;
            margin-right: 1rem;
        }


    }




    #image6 {
        height: 50rem;
        display: block;
        margin-left: auto;
        margin-right: auto;

        

        @include mddown {
            height: 30rem;
            margin-right: 1rem;
        }


    }




    #image7 {
        width: 30rem;
        margin-left: 1rem;
        display: block;
        // margin-left: auto;
        margin-right: auto;

        

        @include mddown {
            height: 30rem;
            margin-right: 1rem;
        }


    }



    #image8 {
        height: 20rem;
        margin-left: 1rem;
        display: block;
        // margin-left: auto;
        margin-right: auto;
        

        @include mddown {
            height: 30rem;
            margin-right: 1rem;
        }


    }




    #image9 {
        width: 100rem;
        display: block;
        margin-left: auto;
        margin-right: auto;

        @include mddown {
            height: 30rem;
            margin-right: 1rem;
        }


    }




    #image10 {
        // width: 80rem;
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2rem;
        

        @include mddown {
            height: 30rem;
            margin-right: 1rem;
        }


    }





    #image11 {
        height: 90vh;
        display: block;
        margin-left: auto;
        margin-right: auto;

        // @include mddown {
        //     height: 30rem;
        //     margin-right: 1rem;
        // }


    }




    #imagehomepage {
        width: 50rem;
        display: block;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;

        // @include mddown {
        //     height: 30rem;
        //     margin-right: 1rem;
        // }


    }







    









    &__text {
        font-family: 'Poppins', sans-serif;
        color: white;
        margin-left: 5rem;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 10%;
        margin-bottom: 10%;
        // min-width: 45%;
        



        @include lgdown {
            // margin-left: 0rem;
        }


        h1 {
        // margin-top: 2rem;
        // margin-bottom: 0rem;
        font-weight: 400;
        font-size: 2rem;
        line-height: 1.15;
        font-weight: 500;
        }


        h2{
        // margin-top: 0rem;
        font-weight: 200;
        margin-bottom: 2rem;
        font-size: 1.125rem;
        line-height: 1.15;
        color: white;
 

        }

        p {
        font-size: 1.125rem;
        font-weight: 200;
        line-height: 1.5;
        color: white;
        // max-width: 50rem;
        // margin-right: 5rem;
        margin-top: 1rem;
        }


        



    }


    ul {
        list-style-position: outside;
        padding-left: 1rem;
        font-size: 1.125rem;
        max-width: 50rem;
        margin-top: 3rem;

      }



      li{
        margin-bottom: 1rem;
      }


   &__title {
    font-weight: 400;
    font-size: 3rem;
    line-height: 1.15;
    margin-bottom: 1rem;
    // margin-top: 30vh;
    // margin-top: 15rem;



    @include lgdown {
        margin-top: 1rem;
    }

   }


   &__description { 
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 2rem;
    max-width: 65rem;
    color: $darkGray;
   }














   #topofsection{
       margin-top: 5rem;
   }

   #endofsection{
       margin-bottom: 5rem;
   }
















   .Button {
        border-radius:8px;
        box-shadow: 0px 0px 0px 2px $gray inset;
        cursor: pointer;
        color:$white;            
        display:inline-block;
        font-size: 1rem;
        padding:16px 32px;
        font-family: 'Poppins', sans-serif;

        
    }

    .Button:hover {
        background-color: $yellow5;
        box-shadow: 0px 0px 0px 2px $yellow5 inset;
        color: $darkGray0;
        // font-weight: 400;
        

    }

    .Button:active {
        background-color: $yellow4;
        box-shadow: 0px 0px 0px 2px $yellow4 inset;
        
    }


    





    // image comparison slider



    * {box-sizing: border-box;}

    .img-comp-container {
      position: relative;
      height: 200px; /*should be the same height as the images*/
    }
    
    .img-comp-img {
      position: absolute;
      width: auto;
      height: auto;
      overflow: hidden;
    }
    
    .img-comp-img img {
      display: block;
    //   vertical-align: middle;
    }
    
    .img-comp-slider {
      position: absolute;
      z-index: 9;
      cursor: ew-resize;
      /*set the appearance of the slider:*/
      width: 40px;
      height: 40px;
      background-color: #2196F3;
      opacity: 0.7;
      border-radius: 50%;
    }





















//trying to set up an image slider from codepen




    



// @import "bourbon";
// /*---- NUMBER OF SLIDE CONFIGURATION ----*/
// $num-of-slide: 5;

// .wrapper {
//     max-width: 60em;
//     margin: 1em auto;
//     position: relative;
// }

// input {
//     display: none;
// }

// .inner {
//     width: percentage($num-of-slide);
//     line-height: 0;
// }

// article {
//     width: percentage(1/$num-of-slide);
//     float: left;
//     position: relative;

//     img {
//         width: 100%;
//     }
// }

// /*---- SET UP CONTROL ----*/
// .slider-prev-next-control {
//     height: 50px;
//     position: absolute;
//     top: 50%;
//     width: 100%;
//     @include transform(translateY(-50%));

//     label {
//         display: none;
//         width: 40px;
//         height: 40px;
//         border-radius: 50%;
//         background: #fff;
//         opacity: 0.7;

//         &:hover {
//             opacity: 1;
//         }
//     }
// }

// .slider-dot-control {
//     position: absolute;
//     width: 100%;
//     bottom: 0;
//     text-align: center;

//     label {
//         cursor: pointer;
//         border-radius: 5px;
//         display: inline-block;
//         width: 10px;
//         height: 10px;
//         background: #bbb;
//         @include transition(all 0.3s);

//         &:hover {
//             background: #ccc;
//             border-color: #777;
//         }
//     }
// }

// /* Info Box */
// .info {
//     position: absolute;
//     font-style: italic;
//     line-height: 20px;
//     opacity: 0;
//     color: #000;
//     text-align: left;
//     @include transition(all 1000ms ease-out 600ms);

//     h3 {
//         color: #fcfff4;
//         margin: 0 0 5px;
//         font-weight: normal;
//         font-size: 1.5em;
//         font-style: normal;
//     }

//     &.top-left {
//         top: 30px;
//         left: 30px;
//     }

//     &.top-right {
//         top: 30px;
//         right: 30px;
//     }

//     &.bottom-left {
//         bottom: 30px;
//         left: 30px;
//     }

//     &.bottom-right {
//         bottom: 30px;
//         right: 30px;
//     }
// }

// /* Slider Styling */
// .slider-wrapper {
//     width: 100%;
//     overflow: hidden;
//     border-radius: 5px;
//     box-shadow: 1px 1px 4px #666;
//     background: #fff;
//     background: #fcfff4;
//     @include transform(translateZ(0));
//     @include transition(all 500ms ease-out);

//     .inner {
//         @include transform(translateZ(0));
//         @include transition(all 800ms cubic-bezier(0.77, 0, 0.175, 1));
//     }
// }

// /*---- SET POSITION FOR SLIDE ----*/
// %bind-prev-next-button {
//     font-family: FontAwesome;
//     font-style: normal;
//     font-weight: normal;
//     text-decoration: inherit;
//     margin: 0;
//     line-height: 38px;
//     font-size: 3em;
//     display: block;
//     color: #777;
// }

// %bind-next-button {
//     @extend %bind-prev-next-button;
//     content: "\f105";
//     padding-left: 15px;
// }

// %bind-next-label {
//     display: block;
//     float: right;
//     margin-right: 5px;
// }

// %bind-prev-label {
//     display: block;
//     float: left;
//     margin-left: 5px;
// }

// %bind-prev-button {
//     @extend %bind-prev-next-button;
//     content: "\f104";
//     padding-left: 8px;
// }

// %bind-background-active-dot {
//     background: #333;
// }

// %bind-opacity-info {
//     opacity: 1;
// }

// @for $i from 1 through $num-of-slide {
//     #slide#{$i}:checked {
//         & ~ .slider-wrapper .inner {
//             margin-left: percentage(1 - $i);
//         }

//         & ~ .slider-dot-control label:nth-child(#{$i}) {
//             @extend %bind-background-active-dot;
//         }

//         & ~ .slider-wrapper article:nth-child(#{$i}) .info {
//             @extend %bind-opacity-info;
//         }
//     }
// }

// @for $i from 1 through ($num-of-slide - 1) {
//     #slide#{$i}:checked {
//         & ~ .slider-prev-next-control label:nth-child(#{$i +1}) {
//             @extend %bind-next-label;

//             &::after {
//                 @extend %bind-next-button;
//             }
//         }
//     }
// }

// #slide#{$num-of-slide}:checked ~ .slider-prev-next-control label:nth-child(1) {
//     @extend %bind-next-label;

//     &::after {
//         @extend %bind-next-button;
//     }
// }

// @for $i from 2 through $num-of-slide {
//     #slide#{$i}:checked {
//         & ~ .slider-prev-next-control label:nth-child(#{$i - 1}) {
//             @extend %bind-prev-label;

//             &::after {
//                 @extend %bind-prev-button;
//             }
//         }
//     }
// }

// #slide#{1}:checked ~ .slider-prev-next-control label:nth-child(#{$num-of-slide}) {
//     @extend %bind-prev-label;

//     &::after {
//         @extend %bind-prev-button;
//     }
// }

// /*---- TABLET ----*/
// @media only screen and (max-width: 850px) and (min-width: 450px) {
//     .slider-wrapper {
//         border-radius: 0;
//     }
// }

// /*---- MOBILE----*/
// @media only screen and (max-width: 450px) {
//     .slider-wrapper {
//         border-radius: 0;
//     }

//     .slider-wrapper .info {
//         opacity: 0;
//     }
// }

// @media only screen and (min-width: 850px) {
//     body {
//         padding: 0 80px;
//     }
// }





















}


































