.projects {

    h2 {
        text-align: center;
        font-weight: 500;
        font-size: 2rem;
        line-height: 1.15;
        color: $darkGray;
        margin-bottom: 2rem;


        @include lg {
            font-size: 2rem;
        }

        @include sm {
            text-align: left; 
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }
    }
}



.project {
    // text-align: center;

//    &__content {

//    }
    

    &__grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2.5rem;
        margin-bottom: 6rem;

        @include mddown {
            grid-template-columns: repeat(2, 1fr);
        }

        @include custom-down(550){
            grid-template-columns: repeat(1, 1fr);
        }

        @include sm {
            grid-template-columns: repeat(1, 1fr);
        }

        @include mdup {
            grid-template-columns: repeat(3, 1fr);
        }

        @include xl {
            grid-template-columns: repeat(4, 1fr);
        }        
    }




   &__item {
        // border: solid 2px $gray;
        border-radius: 8px;
        // outline: solid 2px $gray;
        // outline-offset: -2px;
        overflow: hidden;
        background-color: $white;
        transition: all 100ms ease-in-out;
        box-shadow: 0px 0px 0px 2px $gray inset;
        
        &:hover{
            transform: scale(1.01);
            box-shadow:  0px 5px 10px $gray;
            // border: solid 2px rgba(255, 255, 255, 0);
            // outline: none;
        }
       }
    

    &__image {
        height: 12.5rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        // margin: 2px;

    }
   
    &__text {
        padding: 1.5rem 1.5rem 2.5rem 1.5rem;
        color: black; 
        // @include mdup {
        //     padding: 1rem;             
        // }
    }

   &__company {
    font-size: .875rem;
    padding-bottom: .2 5rem;
    font-weight: 400;
   }

   &__title { 
    font-size: 1.5rem;
    padding-bottom: .5rem;
    font-weight: 500;
   }

   &__description  { 
    font-size: 1rem;  
    font-weight: 400;
   }

}