// Colors


$white: hsl(0, 0%, 100%);

$veryLightGray: hsl(0, 0%, 96%);
$gray: hsl(0, 0%, 80%);
$gray2: hsl(0, 0%, 100%);
$gray3: hsl(0, 0%, 90%);
$gray4: hsl(0, 0%, 95%);
$darkGray0:hsl(0, 0%, 8%);
$darkGray1:hsl(0, 0%, 12%);
$darkGray:hsl(0, 0%, 15%);
$darkGray2:hsl(0, 0%, 25%);
$darkGray3:hsl(0, 0%, 60%);

$yellow: hsl(46, 100%, 50%);
$yellow2: hsl(44, 100%, 50%);
$yellow3: hsl(41, 100%, 50%);
$yellow4: hsl(38, 100%, 50%);
$yellow5: hsl(43, 84%, 55%);

$darkBlue: hsl(233, 26%, 24%);
$blue: hsl(231, 95%, 70%);

$orange: hsl(39, 95%, 70%);

$purple: hsl(327, 95%, 70%);


// Font sizes
$font-sm: 0.875rem; // 14px
$font-sm-med: 1rem; // 16px
$font-med: 1.125rem; // 18px
$font-lg: 2rem; // 32px
$font-xlg: 3.25rem; // 52px
$font-xxlg: 5rem; //80px